.about-container {
  padding-top: 1px;
}

.about-container-title {
  font-size: 32px;
  line-height: 1.6;
}

.about-content-container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px 30px;
  grid-template-areas:
    "aboutme certification technology"
    "aboutme languages technology"
    "aboutme languages interests"
    "education languages interests"
    ". . interests";
  @include media(">tablet", "<=desktop") {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "aboutme languages"
      "aboutme technology"
      "education technology"
      "certification interests"
      ". interests"
      ". interests";
  }
  @include media(">phone", "<=tablet") {
    grid-template-columns: 1fr;
    grid-template-areas:
      "aboutme"
      "education"
      "certification"
      "languages"
      "technology"
      "interests";
  }
  @include media("<=phone") {
    grid-template-columns: 1fr;
    grid-template-areas:
      "aboutme"
      "education"
      "certification"
      "languages"
      "technology"
      "interests";
  }
}
