.experience-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  @include media("<tablet") {
    align-items: flex-start;
    margin-top: 54px;
  }
}

.experience-container {
  position: relative;
  max-width: 700px;
  @include media("<tablet") {
    max-width: 100%;
  }
}

.experience-container-title {
  font-size: 32px;
  line-height: 1.6;
}

.experience-tab-container {
  padding-top: 32px;
  display: flex;
  align-items: flex-start;
  position: relative;
  @include media("<tablet") {
    display: block;
  }
}

.experience-tab-list {
  display: block;
  position: relative;
  width: max-content;
  z-index: 3;
  padding: 0;
  margin: 0;
  list-style: none;
  @include media("<tablet") {
    display: flex;
    margin-bottom: 30px;
    width: calc(100% + 48px);
    margin-left: -50px;
    overflow-x: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    li {
      &:first-of-type {
        margin-left: 50px;
      }
      &:last-of-type {
        padding-right: 50px;
      }
    }
  }
}

.experience-tab-list::-webkit-scrollbar {
  display: none;
}

.experience-tab-list-button {
  @include button-reset;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  height: 30px;
  padding: 0 20px 2px;
  border-right: 2px solid var(--bg-accent2);
  text-align: center;
  white-space: nowrap;
  &:hover,
  &:focus {
    background-color: var(--hover) !important;
  }
  @include media("<tablet") {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    text-align: center;
    border-right: 0;
    border-bottom: 2px solid var(--bg-accent2);
    min-width: 120px;
  }
}

.experience-tab-list-highlight {
  display: block;
  background: var(--text-accent);
  width: 2px;
  height: 30px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.25s ease-in-out;
  z-index: 10;
  @include media("<tablet") {
    width: 100%;
    max-width: 120px;
    height: 2px;
    top: auto;
    bottom: 0;
    left: 0;
    margin-left: 50px;
  }
}

.experience-tab-content-container {
  position: relative;
  width: calc(100% - 48px);
  padding: 30px;
  margin-left: 12px;
  overflow-y: scroll;
  background-color: var(--card-color);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  transition: height var(--speed);
  @include styled-link-title;
  @include media(">=tablet") {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  @include media("<tablet") {
    margin: 0;
    padding: 30px 24px;
  }
}

.experience-tab-content-container::-webkit-scrollbar {
  @include media(">=tablet") {
    display: none;
  }
}

.experience-tab-content-container:focus {
  outline: none;
}

.experience-title {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 0px;
}

.experience-company {
  color: var(--text-accent);
}

.experience-details {
  font-weight: normal;
  letter-spacing: 0.05em;
  color: var(--text-light);
  margin-bottom: 30px;
}

.experience-description {
  color: var(--text-light);
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      position: relative;
      padding-left: 30px;
      padding-bottom: 10px;
      &:before {
        content: "▶\FE0E";
        position: absolute;
        left: 0;
        color: var(--text-accent);
      }
    }
  }
}
