/* <nav> */
#navbar {
  position: fixed;
  z-index: 100;
  height: var(--nav-size);
  background-color: var(--bg);
  top: 0px;
  width: 100%;
  box-shadow: 3px 3px 5px 6px var(--bg-accent);
  @include media("<tablet") {
    height: calc(var(--nav-size) * 1.7);
  }
}

.navbar-elm {
  margin: 0 3em;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media("<tablet") {
    margin: 0 24px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}

.nav-elm-right-container {
  display: flex;
  align-items: center;
  li {
    margin-right: 20px;
  }
  li > a {
    position: relative;
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
  }
  li > a:hover,
  a:focus {
    color: var(--text-light);
  }
  li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--text-accent);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  li > a:hover::before,
  a:focus::before {
    visibility: visible;
    transform: scaleX(1);
  }
  @include media("<tablet") {
    align-self: center;
    li:last-of-type {
      margin-right: 0;
    }
  }
}

/* <li> */
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  @include media("<tablet") {
    position: absolute;
    top: 18px;
    right: 24px;
  }
}

@mixin icon-button-shared {
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  @include button-reset;
  @include icon-button-shared;
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent2);
  transition: filter var(--speed);
}

.icon-button-active {
  @include button-reset;
  @include icon-button-shared;
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent2);
  transition: filter var(--speed);
}

.icon-button-no-background {
  @include button-reset;
  @include icon-button-shared;
  --button-size: calc(var(--nav-size) * 0.5);
  width: calc(var(--button-size) + 10px);
  height: calc(var(--button-size) + 10px);
  transition: background-color var(--speed);
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button-no-background:hover {
  background-color: var(--bg-accent2);
}

.icon-button-no-background svg,
.icon-button svg,
.icon-right svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.icon-button-active svg {
  fill: var(--text-accent);
  width: 20px;
  height: 20px;
}

/* Dropdown Menu */
.dropdown {
  --dropdown-width: 325px;
  --margin-side: 10px;
  position: absolute;
  top: 48px;
  width: var(--dropdown-width);
  transform: translateX(-45%);
  background-color: var(--bg-accent);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 10px 0;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  @include button-reset;
  height: 50px;
  width: calc(var(--dropdown-width) - calc(var(--margin-side) * 2));
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 0 0.5em;
  margin: 0 var(--margin-side);
}

.menu-title {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 0.5em 0.5em;
  margin: 0 var(--margin-side);
}

.menu-title .icon-button-no-background {
  margin-right: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: var(--hover);
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--text-accent);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--text-accent);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
