.layout {
  margin: 0 auto;
  max-width: 1245px;
  padding: 0 50px 1.45rem;
  @include media("<tablet") {
    padding: 0 24px 1.45rem;
  }
  overflow-x: hidden;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: var(--text-light);
    margin: 0;
    line-height: 1.6em;
  }
  small {
    color: var(--text-light);
  }
}
